name: CI
on: push
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Lint
        run: |
          npm install
          npm run lint

      - name: Test
        run: |
          npm run test -- --watchAll=false

      - name: Build
        run: |
          npm rebuild node-sass
          npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@1.1.3
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
